## Pandas

In [2]:
import pandas as pd
import numpy as np

## Series

- One dimensional sequence
- Internally is composed of 2 array (1 for data, 1 for index)

In [3]:
series = pd.Series([5,6,2,1])
print(series)

0    5
1    6
2    2
3    1
dtype: int64

In [4]:
series = pd.Series([5,6,6,8], index=['first','second','third','fourth'])
print(series)
print('Values ',series.values)
print('Index ',series.index)
print('Slice/Filter by index ',series[['first','third']])

first     5
second    6
third     6
fourth    8
dtype: int64
Values  [5 6 6 8]
Index  Index(['first', 'second', 'third', 'fourth'], dtype='object')
Slice/Filter by index  first    5
third    6
dtype: int64

In [5]:
series['first'] = 10
print(series)
print('Series > 6', series[series > 6])

first     10
second     6
third      6
fourth     8
dtype: int64
Series > 6 first     10
fourth     8
dtype: int64

**Counts of values**

In [6]:
series.value_counts()

6     2
10    1
8     1
dtype: int64

**Adding series to other series**
- Item with the same index values get added to each other.
- Other values get set to NaN

In [7]:
series2 = pd.Series([1,2,3,4], index=['first','second','third','fifth'])
print(series + series2)

fifth      NaN
first     11.0
fourth     NaN
second     8.0
third      9.0
dtype: float64

**DateTime Indexes and Series**

In [11]:
# creating a series that is 1 year long
date_index = pd.date_range('20010101', periods=365, freq='D')
print(date_index)

# creating a series of integers, indexed by date3 = pd.Series(np.arange(365), index = date_index)
print(series3.tail())

DatetimeIndex(['2001-01-01', '2001-01-02', '2001-01-03', '2001-01-04',
               '2001-01-05', '2001-01-06', '2001-01-07', '2001-01-08',
               '2001-01-09', '2001-01-10',
               ...
               '2001-12-22', '2001-12-23', '2001-12-24', '2001-12-25',
               '2001-12-26', '2001-12-27', '2001-12-28', '2001-12-29',
               '2001-12-30', '2001-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')
2001-12-27    360
2001-12-28    361
2001-12-29    362
2001-12-30    363
2001-12-31    364
Freq: D, dtype: int32

## Dataframe

**Basic Frame Operations**

In [16]:
data = {'thing' : ['plant','tv','chair','table','pot'],
        'colour' : ['yellow','red','blue','white','white'],
        'weight' : [2.1,2.4,1.6,1.0,1.75],
         'quantity' : [1,7,3,4,2]}

frame = pd.DataFrame(data)
print(frame)
print('Index -',frame.index)
print('Columns -',frame.columns)
print('colour -', frame.colour)
print('dtypes -',frame.dtypes)
print('values -',frame.values)

   colour  quantity  thing  weight
0  yellow         1  plant    2.10
1     red         7     tv    2.40
2    blue         3  chair    1.60
3   white         4  table    1.00
4   white         2    pot    1.75
Index - RangeIndex(start=0, stop=5, step=1)
Columns - Index(['colour', 'quantity', 'thing', 'weight'], dtype='object')
colour - 0    yellow
1       red
2      blue
3     white
4     white
Name: colour, dtype: object
dtypes - colour       object
quantity      int64
thing        object
weight      float64
dtype: object
values - [['yellow' 1 'plant' 2.1]
 ['red' 7 'tv' 2.4]
 ['blue' 3 'chair' 1.6]
 ['white' 4 'table' 1.0]
 ['white' 2 'pot' 1.75]]
       quantity    weight
count  5.000000  5.000000
mean   3.400000  1.770000
std    2.302173  0.531037
min    1.000000  1.000000
25%    2.000000  1.600000
50%    3.000000  1.750000
75%    4.000000  2.100000
max    7.000000  2.400000

In [13]:
print('head - first 5 rows -', frame.head())
print('tail - last 2 rows -', frame.tail(2))

head - first 5 rows -    colour  quantity  thing  weight
0  yellow         1  plant    2.10
1     red         7     tv    2.40
2    blue         3  chair    1.60
3   white         4  table    1.00
4   white         2    pot    1.75
tail - last 2 rows -   colour  quantity  thing  weight
3  white         4  table    1.00
4  white         2    pot    1.75

**Getting the values of a column/row**

In [12]:
print(frame.colour)
print(frame[1:4].colour)
print(frame['colour'][1:4])
# Select multiple columns from the dataframe
print(frame[['colour','quantity']])

0    yellow
1       red
2      blue
3     white
4     white
Name: colour, dtype: object
1      red
2     blue
3    white
Name: colour, dtype: object
1      red
2     blue
3    white
Name: colour, dtype: object
   colour  quantity
0  yellow         1
1     red         7
2    blue         3
3   white         4
4   white         2

**Counts of values**

In [13]:
counts = frame['colour'].value_counts()
print(counts[:2])

white    2
blue     1
Name: colour, dtype: int64

**Editing the values in the data frame**

In [14]:
frame['quantity'][1] =2
print(frame)

   colour  quantity  thing  weight
0  yellow         1  plant    2.10
1     red         2     tv    2.40
2    blue         3  chair    1.60
3   white         4  table    1.00
4   white         2    pot    1.75

C:\Users\Peter\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

**Adding columns to the frame**

In [15]:
frame['size']=['S','S','L','M','XL']
print(frame)

   colour  quantity  thing  weight size
0  yellow         1  plant    2.10    S
1     red         2     tv    2.40    S
2    blue         3  chair    1.60    L
3   white         4  table    1.00    M
4   white         2    pot    1.75   XL

**Deleting columns**

In [16]:
del frame['size']
print(frame)

   colour  quantity  thing  weight
0  yellow         1  plant    2.10
1     red         2     tv    2.40
2    blue         3  chair    1.60
3   white         4  table    1.00
4   white         2    pot    1.75

**Filtering**
- Dataframe passed in as slice returns true or false for each row
- Only true rows are returned
- Combine them using & symbol

In [17]:
print(frame[frame.colour =='white'])
white = frame.colour == 'white'
pot = frame.thing == 'pot'
# combine filters and then only select certain columns
print(frame[white & pot][['quantity','thing']])

  colour  quantity  thing  weight
3  white         4  table    1.00
4  white         2    pot    1.75
   quantity thing
4         2   pot

**Strings**

In [22]:
frame['colour'].str.contains('e')

0    True
1    True
2    True
3    True
4    True
Name: colour, dtype: bool

**Exploring data**

- Finding unique values in a column - look for nan

In [24]:
frame['colour'].unique()

array(['yellow', 'red', 'blue', 'white'], dtype=object)

In [17]:
# Prints statistics about the columns in the dataframe
frame.describe()

       quantity    weight
count  5.000000  5.000000
mean   3.400000  1.770000
std    2.302173  0.531037
min    1.000000  1.000000
25%    2.000000  1.600000
50%    3.000000  1.750000
75%    4.000000  2.100000
max    7.000000  2.400000

**Sorting**

In [18]:
frame.sort_values(by='weight', ascending=False)

   colour  quantity  thing  weight
1     red         7     tv    2.40
0  yellow         1  plant    2.10
4   white         2    pot    1.75
2    blue         3  chair    1.60
3   white         4  table    1.00

In [21]:
frame.sort_index(axis=0, ascending=False)

   colour  quantity  thing  weight
4   white         2    pot    1.75
3   white         4  table    1.00
2    blue         3  chair    1.60
1     red         7     tv    2.40
0  yellow         1  plant    2.10